@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  background-image: url('/assets/image (1).png');
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
